/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #E9B14C;
  --background: #CAC691;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --slow-timing: 800ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) *2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  z-index: 2;
  cursor: pointer;

}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),
    translate var(--slow-timing), background-color var(--animation-timing);
}


.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.navigation {
  /*Modify this in Media Queries so sidebar doesnt take up whole screen*/
  transition: translate var(--slow-timing);
  translate: -150%;
  padding: 10px;
  margin-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  width: 100%;
  border-radius: 30px;

}

.hamburger-menu:has(input:checked)+.navigation {
  translate: 0;
}

/****** Global Styles ******/

body {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  background-color: white;
  color: #152A3E;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header,
#projects,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

a {
  color: #CAC691;
  text-decoration: none;
}

img {
  width: 100%;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 45px;
  width: 100%;
}

h2 {
  font-size: 30px;
  font-family: 'Lexend Tera', sans-serif;
  width: 100%;
}

h3 {
  font-size: 22px;
  font-family: 'Alata', sans-serif;
  width: 100%;
}

p {
  margin: 0;
}

span {
  font-weight: bolder;
  font-size: 1.15rem;
  font-family: 'Alata', sans-serif;
}

figure {
  margin: 20px 0 40px 0;
}

img {
  filter: drop-shadow(5px 5px 5px);
  border-radius: 15px;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;*/
}

#skills,
#projects,
#about,
#contact {
  margin: 0;
}

/****** Header Styles ******/

header {
  padding: 0 0 10px 0px;
  background-color: #152A3E;
  color: #CAC691;
}

nav {
  margin: 8px 0 8px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

}

header nav ul li {
  font-size: 1.25rem;
  font-weight: bolder;
  background-color: #E9B14C;
  border-radius: 30px;
}

nav ul li a {
  color: #152A3E;

}

header h2 {
  color: #EEEFDA;
}

header h3 {
  font-family: 'Alata', sans-serif;
  font-size: 1.25rem;
}

/****** Main Styles ******/

/*skills & tools*/
#skills {
  padding-top: 50px;
  background-color: #EEEFDA;
}

#skills h2 {
  margin: 0 0 30px 0;
}

#skills h3 {
  margin: 0 0 30px 0;
  font-weight: 800;
  font-size: 22px;
}

.skills,
.tools {
  width: 100%;
}

.skill-wrapper,
.tool-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.project-link,
.skill-wrapper p,
.tool-wrapper p {
  text-transform: uppercase;
  color: #152A3E;
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
}

.skill-wrapper p,
.tool-wrapper p {
  background-color: #E9B14C;
  border-radius: 30px;
  padding: 15px 0;
  margin: 20px 0;
  width: 80%;
  position: static;
}

/*projects*/

#projects h3 {
  font-size: 22px;
}

.previous-project h3 {
  margin: 0 0 40px 0;
}

article {
  background-color: rgb(202, 198, 145);
}

#projects {
  padding-top: 0px;
}

.port-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 25px;

}

.previous-project {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border: 3px solid #E9B14C;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #EEEFDA;
}

.previous-project:hover {
  transform: scale(1.05);
}

#projects p {
  text-align: left;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
}

.previous-project img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
}

.project-description {
  padding-bottom: 30px;
}

.project-link {
  background-color: rgb(233, 177, 76);
  font-weight: bold;
  padding: .75rem 3.75rem;
  border-radius: 30px;
  margin: 40px 0 30px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.project-link:hover {
  background-color: #152A3E;
  color: #CAC691;
  transform: scale(1.2);
}

/*about*/

#about h2 {
  padding-bottom: 20px;
}

#about {
  padding: 0 0 40px 0;
  background-color: #EEEFDA;
}

#about p {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5em;
}

#about .about-span {
  font-family: 'Alata', sans-serif;
  font-size: 25px;
}

/****** Contact Footer Styles ******/

footer {
  background-color: #152A3E;
  color: #CAC691;
}

footer .contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

#contact {
  padding: 20px 0 60px 0;
}

.connect-span {
  color:#EEEFDA;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 24px;
}

#contact h2 {
  font-size: x-large;
  font-weight: bolder;
  padding-bottom: 40px;
  line-height: 1.5em;
}

#contact h3 {
  font-size: 26px;
  font-weight: bold;
  color: #EEEFDA;
  padding: 20px 0 20px 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}

footer .follow-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .contact-info {
  width: 60%;
  margin-bottom: 20px;
}

footer .follow-social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .icons {
  display: flex;
  justify-content: space-around;
}

footer ul {
  width: 60%;
}

footer .icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

footer .icons li i {
  font-size: 2.8rem;
}

footer p,
footer a {
  font-family: 'Lexend Deca', sans-serif;
  color: #EEEFDA;
}

.copyright {
  margin-top: 70px;
  margin-bottom: 40px;
  color:#CAC691;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
                             Media Queries 
   ========================================================================== */

@media only screen and (min-width:768px) {
  /*Tablet styles here*/

  /* Global styles */
  .content-wrapper {
    max-width: 640px;
  }

  header {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  footer {
    padding: 140px 0;
  }

  h2 {
    margin-top: 35px;
    margin-bottom: 80px;
  }

  /*-------Main Tablet Styles--------*/

  /* header */

  header .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  header nav ul li {
    font-size: 1.5rem;
  }

  .title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .title h1 {
    font-size: 45px;
  }

  .title h2 {
    font-size: 35px;
  }

  .title h3 {
    font-size: 27px;
    max-width: 80%;
  }

  /*Skills & Tools*/
 
  #skills {
    padding-top: 80px;
    margin: 0;
    padding-bottom: 80px;
  }
  
  #skills h2 {
    margin-bottom: 40px;
  }

  #skills h3 {
    margin: 40px 0 20px 0;
    font-size: 25px;
  }

  .skill-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }

  .skill-wrapper p,
  .tool-wrapper p {
    /*  width: auto; */
    width: 45%;
    position: static;
    font-size: 1.17rem;
  }

  .skill-wrapper p,
  .tool-wrapper p {
    padding: 15px 0;
  }
  /* Projects */

  #projects {
    padding-top: 80px;
  }

  #projects h3 {
    font-size: 25px;
  }
  #projects p {
    font-size: 20px;
  }
  span {
    font-size: 24px;
  }
  .port-wrapper {
    justify-content: space-around;

  }

  .port-header {
    margin: 0 0 60px 0;
    font-size: 35px;
  }

  .previous-project {
    width: 40.5%;
    align-items: center;
    height: 765px;
    margin-bottom: 80px;
  }

  .previous-project h3 {
    margin-bottom: 30px;
  }

  .project-description {
    width: 95%;
    padding: 0;
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 30px 0;
    font-size: 20px;
  }

  

  /* about */

  .about-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about {
    padding: 80px 0;
  }

  .about-info h2 {
    margin: 60px 0;
  }

  .about-info h3 {
    margin: 0 0 40px 0;
  }

  #about figure {
    width: 70%;
  }

  .about-info h2 {
    font-size: 35px;
    padding: 0;
  }

  .about-info h3 {
    font-size: 25px;
  }

  .about-info p {
    margin: 0 0 20px 0;
    font-size: 22px;
  }


  /* Footer */
  
  #contact h2 {
    margin-bottom: 40px;
    font-size: 35px;
  }

  #contact h3 {
    margin: 0 0 30px 0;
    font-size: 30px;
  }

  .connect-span {
    font-size: 35px;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact-info {
    margin: 40px 0;
  }

  footer p,
  footer a {
    font-size: 20px;
  }

  footer .contact-info {
    width: 50%;
    margin-bottom: 40px;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .icons {
    justify-content: space-evenly;
  }

  footer .icons li i {
    font-size: 2.8rem;
  }

  footer .contact-info p i {
    font-size: 2.8rem;
  }

  footer .contact-info
  footer .copyright {
    width: 100%;
  }
}


@media only screen and (min-width:1024px) {

  /* added for landscape tablets and iPad Pro */
  .content-wrapper {
    max-width: 900px;
  }

}

/*---------END of TABLET MQ---------------*/


@media only screen and (min-width:1200px) {

  /*Desktop styles here*/
  .content-wrapper {
    max-width: 1450px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
  }

  .project-link,
  .skill-wrapper p,
  .tool-wrapper p {
    font-size: 1rem;
  }

  header {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  nav {
    margin-bottom: 10px;
  }


  footer {
    padding: 140px 0 140px 0;
  }

  h2 {
    margin: 20px 0 40px 0;
  }

  /*------------Main Desktop Styles---------*/

  /* Header */

  header .content-wrapper {
    justify-content: flex-end;
  }

  nav ul li a {
    padding: 10px 10px;
  }

  nav ul li a:hover,
  nav #contact-link:hover {
    background-color:#152A3E;
    color:#EEEFDA;
    padding: 10px 10px;
    border-radius: 30px;
  }

  .title {
    max-width: 95%;
  }

  .title h2 {
    max-width: 70%;
  }

    /* Skills & Tools */

    #skills {
      padding-bottom: 60px;
      padding-top: 100px;
    }
  
    #skills .content-wrapper {
      max-width: 900px;
    }
  
    #skills h3 {
      margin-top: 0;
      margin-bottom: 40px;
    }
  
    .skill,
    .tool {
      width: 30%;
    }
  

  /* Projects */

  #projects {
    padding-top: 80px;
  }
  .previous-project {
    width: 30%;
  }

  .port-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 80px 0;
    font-size: 20px;
  }


  /* about */
  
  #about {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .about-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #about figure {
    width: 40%;
    margin-top: 0;
    position: relative;
    top: 150px;
    
  }

  #about h2 {
    padding: 0;
  }
  
  .about-info {
    width: 55%;
  }

  .about-info h2 {
    font-size: 2.8rem;
    text-align: left;
    margin: 0;
  }

  .about-info h3 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 10px 0 40px 0;
  }

  .about-info p {
    margin: 0 0 30px 45px;
    width: 85%;
  }
  /* contact */

  .contact-info {
    margin: 40px 0 80px 0;
  }

  #contact h2 {
    margin: 0 0 30px 0;
  }

  footer .content-wrapper {
    max-width: 70%;
  }

  footer .icons {
    width: 12.5em;
    justify-content: space-between;
  }
}




/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}